/* Variables */

:root {
   --basic-black: #283136;
   --basic-extra-black: #000000;
   --basic-grey: #EEEEEE;
   --extra-grey: #E1E1E1;
   --basic-white: #FFFFFF;
   --link-dormancy: #000000;
   --link-hover: #FB565A;
   --link-active: #000000;
   --extra-text-color: #FFFFFF;

   --button-red-dormancy: #FB565A;
   --button-red-hover: #E74246;
   --button-red-click: #D7373B;
   --button-control-hover: #DFDFDF;
   --button-control-click: #D5D5D5;
   --button-control-focus: #DBDBDB;
   --feedback-form: #444444;
}

/* Global */

body {
  font-family: "Roboto" , Sans Serif, Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.list-global {
  list-style: none;
}

.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.3;
}
.button {
  background-color: var(--button-red-dormancy);
  border-radius: 3px;
  text-decoration: none;
  color: var(--extra-text-color);
}
.button:hover {
  background-color: var(--button-red-hover);
}
.button:active {
  background-color: var(--button-red-click);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
.button span:active {
  opacity: 0.3;
}
/* main-navigation */

.site-navigation-link {
  text-decoration: none;
  color: var(--basic-extra-black);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.site-navigation-link:hover {
  color: var(--link-hover);
}
.site-navigation-link:active {
  color: var(--link-active);
  border-bottom: 2px solid var(--link-hover);
}

/* index */
.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.products-list-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.advertise-subject {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.advertise-list-headline {
  font-weight: 500;
}
.address-heading {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.partners-logo {
  opacity: 0.2;
}
.partners-logo:hover {
  opacity: 1;
}
.partners-logo:active {
  opacity: 0.1;
}

/* catalog */
.control {
  color: var(--basic-extra-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;
  border-radius: 3px;
}
.control:hover {
  background-color: var(--button-control-hover);
}
.control:active {
  background-color: var(--button-control-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}
.control-disable {
  background-color: var(--button-control-focus);
}

.filter {
  border: none;
  font-size: 16px;
  line-height: 20px;
}


.filter-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.filter-input {

}
.control-order {
  color: var(--basic-extra-black);
  opacity: 0.3;
}
.control-order:hover {
  opacity: 0.6;
}
.control-order:active {
  opacity: 1;
}
/* footer */
.footer-proposal {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer-proposal-benefit {
  font-size: 16px;
  line-height: 22px;
}
.social-button-item {
  background-color: var(--extra-grey);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}
.social-button-item:hover {
  background-color: var(--button-red-hover);

}
.social-button-item:active {
  background-color: var(--button-red-click);
}
.social-button-logo {
  display: block;
  margin: auto;
}
.social-button-logo:active {
  opacity: 0.3;
}
.modal-label {
  color: var(--basic-extra-black);
  font-weight: 700;
  line-height: 18px;
}

.modal-feedback-form {
  color:  var(--feedback-form);
  border: solid 2px var(--feedback-form);
  border-radius: 3px;
  opacity: 0.5;
  line-height: 18px;
}

.modal-feedback-form:hover {
  border: solid 2px var(--feedback-form);
  opacity: 0.5;
}

.modal-feedback-form:active {
  border: solid 2px var(--feedback-form);
  opacity: 1;
}


/* additional */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 1) как убрать рамки у кнопок при нажатии?
   2) фон для социальных кнопокй задавать контейнеру? А какому?
   3) в стайлгайде на всх 3-ех состояниях кнопок цвет текста не меняется в настройках, а визуальо меняется,
   я так понимаю что это из-за прозрачности. Если да, то как её вычислить, потому-что в макете не указано?
   4) как быть с лого партнеров, они тоже должны менять цвет при наведении,
   это значит нужно использовать изображения SVG, чтобы можно было менять цвет фона или прозрачность?
   Также, если у лого при наведения меняется прозрачность, то как её узнать? В макете фигмы не нашел.   */

/*
1) лого социальный сетей выпадает из родителя. Я отцентровал с помощью display: block. Но картинки встали по центру только в горизонтальной плоскости. По вертикали по прежнему вверху.
   Я даже попробовал задать border, думая, что иконки тогда не будут уползать наверх, но и это не сработало.
   Не могу вспомнить из-за чего это может быть. И правильно ли вообще центровать с помощью display: block? Ведь дальше мне, наверняка, нужно будет строить сетку с помощью флексов или гридов.
   2) фильтры которые "по цене" - как сделать так, что бы они выглядели как текст, убрать type=button? Если так, то какой type выбрать?
   3) стрелочки вверх вниз в "сортировать" я сделал с помощью текста, а не картинки из макета. Взять все таки из макета или оставить и потом стилизовать?
 */
