/* Variables */

:root {
   --basic-black: #283136;
   --basic-extra-black: #000000;
   --basic-grey: #EEEEEE;
   --extra-grey: #E1E1E1;
   --basic-white: #FFFFFF;
   --link-dormancy: #000000;
   --link-hover: #FB565A;
   --link-active: #000000;
   --extra-text-color: #FFFFFF;

   --button-red-dormancy: #FB565A;
   --button-red-hover: #E74246;
   --button-red-click: #D7373B;
   --button-control-hover: #DFDFDF;
   --button-control-click: #D5D5D5;
   --button-control-focus: #DBDBDB;
   --feedback-form: #444444;
   --button-green-dormancy: #00CA74;
   --button-green-hover: #00BC6C;
   --button-green-click: #00AA62;
   --button-yellow-dormancy: #EFC849;
   --button-yellow-hover: #EAB534;
   --button-yellow-click: #E5A722;
}

/* Global */

body {
  font-family: "Roboto" , Sans Serif, Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.list-global {
  list-style: none;
}

.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.3;
}
.button {
  background-color: var(--button-red-dormancy);
  border-radius: 3px;
  text-decoration: none;
  color: var(--extra-text-color);
  border: none;
}
.button:hover {
  background-color: var(--button-red-hover);
}
.button:active {
  background-color: var(--button-red-click);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  outline: none;
  border: none;
}
.button:focus {
  outline: none;
}

.button span:active {
  opacity: 0.3;

}
/* main-navigation */

.site-navigation-link {
  text-decoration: none;
  color: var(--basic-extra-black);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.site-navigation-link:hover {
  color: var(--link-hover);
}
.site-navigation-link:active {
  color: var(--link-active);
  border-bottom: 2px solid var(--link-hover);
}

/* index */
.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.products-list-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.advertise-subject {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.advertise-list-headline {
  font-weight: 500;
}
.address-heading {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 22px;
}
.address-location {
  display: inline-block;
  margin-bottom: 37px;
}
.telephone-number {
  display: inline-block;
  padding-top: 18px;
}
.partners-logo {
  opacity: 0.2;
}
.partners-logo:hover {
  opacity: 1;
}
.partners-logo:active {
  opacity: 0.1;
}

.button-order {
  display: inline-block;
  padding: 17px 40px 15px 39px;
}
.button-advantages {
  display: inline-block;
  padding: 17px 54px 15px 54px;
}

.button-message {
  display: inline-block;
  padding: 17px 44px 15px 44px;
}
.button-message-send {
  display: inline-block;
  padding: 17px 83px 15px 83px;
}

.order-application {
  background-color: var(--button-green-dormancy);
}
.order-application:hover {
  background-color: var(--button-green-hover);
}
.order-application:active {
  background-color: var(--button-green-click);
}
.order-presentation {
  background-color: var(--button-yellow-dormancy);
}
.order-presentation:hover {
  background-color: var(--button-yellow-hover);
}
.order-presentation:active {
  background-color: var(--button-yellow-click);
}


/* catalog */
.main-heading {
  text-align: center;
}
.control {
  color: var(--basic-extra-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
}
.control:hover {
  background-color: var(--button-control-hover);
}
.control:active {
  background-color: var(--button-control-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}
.control-disable {
  background-color: var(--button-control-focus);
}

.filter {
  border: none;
  font-size: 16px;
  line-height: 20px;
}


.filter-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.filter-input {

}
.control-order {
  color: var(--basic-extra-black);
  opacity: 0.3;
}
.control-order:hover {
  opacity: 0.6;
}
.control-order:active {
  opacity: 1;
}

.button-buy {
  padding: 17px 72px 15px 72px;
}
.template-container-item {
  padding: 26px 53px 44px 52px;
  background-color: var(--basic-grey);
  box-sizing: border-box;
}

/* footer */
.container-map {
  position: relative;

}

.address-contacts {
  display: inline-block;
  position: absolute;
  top: 54px;
  left: 140px;
  width: 230px;
  padding: 49px 39px 47px 50px;
  background-color: var(--basic-white);
}


.footer-proposal {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer-proposal-benefit {
  font-size: 16px;
  line-height: 22px;
}
.social-button {
  padding-left: 0;
}
.social-button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--extra-grey);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}
.social-button-item:hover {
  background-color: var(--button-red-hover);

}
.social-button-item:active {
  background-color: var(--button-red-click);
}
.social-button-logo {
  display: block;
  margin: auto;
}
.social-button-logo:active {
  opacity: 0.3;
}
.modal-label {
  color: var(--basic-extra-black);
  font-weight: 700;
  line-height: 18px;
}

.modal-feedback-form {
  color:  var(--feedback-form);
  border: solid 2px var(--feedback-form);
  border-radius: 3px;
  opacity: 0.5;
  line-height: 18px;
}

.modal-feedback-form:hover {
  border: solid 2px var(--feedback-form);
  opacity: 0.5;
}

.modal-feedback-form:active {
  border: solid 2px var(--feedback-form);
  opacity: 1;
}
.modal-feedback-form:focus {
  opacity: 1;

}
/* grid index*/

.container {
  width: 1160px;
  margin: 0 auto;
  min-width: 1160px;
}

.lg {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer-map"
    "footer-social"
    "feedback";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  min-height: 100vh;
}
.lg-header {
  grid-area: header;
}
.lg-main {
  grid-area: main;
}
.lg-footer-map {
  grid-area: footer-map;
}
.lg-footer-social {
  grid-area: footer-social;
}
.lg-feedback {
  grid-area: feedback;
  margin-top: 50px;
}
.advantages {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-left: 0;
}
.advertise {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
}
.lg-footer-social-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.lg-main-navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-send-message {
  width: 960px;
  height: 590px;
  min-width: 960px;
  margin: 0 auto;
}
.send-message-legend {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

/* grid catalog */
.lg-main-catalog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "heading heading"
    "filter templates";
}
.main-heading {
  grid-area: heading;
}
.filter-choose {
  grid-area: filter;
}
.filter-order {
  grid-area: order;
}
.template-store {
  grid-area: templates;
}

.template-store ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.filter-choose {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.filter-form-adjust {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.template-store-item {
  display: grid;
  height: 618px;
  grid-template-columns: 360px;
  grid-template-rows: 40px 347px 231px;

}
.template-pic {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  z-index: 1;

}
.template-pic:hover {
  z-index: 0;
}
.template-container-item {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  z-index: 1;

}
.template-container-item:hover {
  z-index: 2;
}

/* additional */
.visually-hidden  {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container-send-message {
  display: none;
}
/*
    1) Не понятно, как измерить расстоние в блоке с адресом между строками и от правого края текста до правого края
        его белого фона.
    2) У социальных кнопок ссылкой является только сама картинка, а не фон(исправлю сам, просто напоминалка)
    3) Форма "Напишите нам". Подсказка в текстовом поле не исчезает, когда в форме начинаешь что-нибудь печатать.
    4) Как лучше быть с формой? Задать размер контейнеру? Или задать padding форме вложенной в контейнер(сделаю сам)
    5) Из-за грида расплылся .button-message-send. Как вернуть в норму? Я могу обернуть его в div, но мне кажется, что слишком много контейнеров
    6) Как переместить label'ы для message-send? (нашёл в учебнике академии, попробую сделать сам)
    7) Зачем оборочивать крупные блоки в div class="container", почему нельзя самим смысловым блокам задать класс
        container и отцентровать относительно body? (ответ: это не обязательно, но так бывает удобнее для вёрстки)
    8) Грид каким-то образом поломал стилизацию visually hidden и теперь скрытые заголовки видны. Как их спрятать обратно?
        Сейчас все заголовки закомментировал в HTML(была какая-то бага)
    9) В каталоге в main сетка не строится.  Фильтр выбора(стоимость, сетка, особенности) и фильтр сортировки не встают ровно в грид.
        Потому-что по вёрстке идут друг за другом, а потом идет список товаров. Как лучше расставить? Может поменять немного вёрстку?
 */
/* Внутри карты сделать контейнер, чтобы адрес был в сетке остальной.
Убрать отсупы у списков на главной
В каталоге фильтры слева- тег aside. Фильтры над шаблонами переложить в блок с шаблонами.
Кнопки пагинации сделать флексом, в грид их не вносить.
Главная: контейнер-центровщик для адреса сделать relative, а у карты отменить relative.
Убрать карту из <p>
display: none или opacity 0 для карточек.
элементу с ценой в карточке задать border-box.
 */
/* Вопросы по 5ому заданию. Каталог.
1) Карточки товаров если не задавать им точную высоту становятся больше чем нужно. Почему так? Их размер складывается из всех
элементов, что в них находятся+padding+border?
*/
